
.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

:root {
  --text-clr: #27070C;
  --hover-clr: #DDC52C;
  --base-clr: #F7F3F3;
  --sd-text-clr: #30401C;
  --accent-clr: #ADC2A3;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', Courier, monospace;
}
html {
    font-family: 'Courier Prime', Courier, monospace;
    line-height: 1.5rem;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--text-clr);
  background-color: var(--base-clr);
}

.row {
  padding: 1rem;
  border-bottom: var(--accent-clr) 1px solid;
  margin: 1rem; 
}
.col {
  padding: 1rem;
  flex: 1;
}
#name {
  color: var(--sd-text-clr);
  padding-left: 0.5rem
}

main {
  padding: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
}

/* Sidebar nav styles */
nav#sidebar {
  color: var(--text-clr);
  border-right: var(--accent-clr) 1.5px solid;
  height: 100vh;
  padding: 1.5rem;
}

/* Sidebar heading */
nav#sidebar h5 {
  margin-bottom: 1.5rem;
}

/* Sidebar links */
.nav-link {
  text-decoration: none;
  padding: 0.5rem 0;
  display: block;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--hover-clr);
}

/* Home background styles */
.home {
  position: relative;
  background-image: url("img/shitsugi_process.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 4rem 2rem;
}

.home::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f7f3f3e1;  /* translucent white overlay */
  z-index: 0;
}

.home > * {
  position: relative;
  z-index: 1;
}


h2, p {
  padding-left: 1rem;
  padding-top: 1rem;
}

section {
  padding: 1rem;
  padding-bottom: 2rem;
}

.subsection h3 {
  color: var(--sd-text-clr);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.subsection img {
  border-radius: 8px;
  margin-top: 1rem;
  padding: 3rem;
}

/* Back button */
.back-button {
  display: inline-block;
  color: var(--text-clr);
  text-decoration: none;
  transition: color 0.3s ease;
}

.back-button:hover {
  color: var(--hover-clr);
}
